@*Model tanımlamnası*@
@model IEnumerable<Movie>

@*ViewData tanımlanması*@
@{
    ViewData["Title"] = "Film Listesi";
}

@*HTML Kodları*@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width:540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    <a class="text-white float-end" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>

                    </div>
                    <div class="col-md-6">
                        @*Afiş bölümü*@
                        <img src="@item.ImageURL" width="100%" alt="@item.Name">
                    </div>
                    <div class="col-md-6">
                        @*Detay Bilgiler*@
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Sinema :</b>@item.Cinema.Name</p>
                            <p class="card-text"><b>Kategori :</b>@item.MovieCategory</p>
                            <p class="card-text"><b>Vizyon T. :</b>@item.StartDate.ToString("dd.MM.yy")</p>
                            <p class="card-text"><b>Bitiş T. :</b>@item.EndDate.ToString("dd.MM.yy")</p>
                            <p class="card-text">
                                <b>Durum :</b>
                                @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                {
                                    <span class="badge bg-success text-white">VİZYONDA</span>
                                }
                                else if (DateTime.Now > item.EndDate)
                                {
                                    <span class="badge bg-danger text-white">BİTTİ</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">YAKINDA</span>

                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text"> 
                               <a class="btn btn-success text-bg-danger-white @((DateTime.Now > item.EndDate) ? "disabled" : "")"
                                   asp-controller="Orders"
                                   asp-action="AddItemToShoopinCart"
                                   asp-route-id="@item.Id">
                                    <i class="bi bi-cart-plus"></i>Sepete Ekle (Fiyat @item.Price.ToString())
                               </a>  @*if-else yapısı*@
                               <a class="btn btn-outline-primary float-end" asp-action="Details" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i>Detaylar
                               </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@Html.Partial("_CreateItem","Movies")                              